Insta360Frameworks/INSCameraSDKxcframework.zip filter=lfs diff=lfs merge=lfs -text
Insta360Frameworks/INSCoreMedia.xcframework.zip filter=lfs diff=lfs merge=lfs -text 
*.zip filter=lfs diff=lfs merge=lfs -text
